@charset "UTF-8";


* {

  margin: 0px;
  padding: 0px;

}


:root {
  --titulo: font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --corpo: font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  --fundo: #FDDFAA;
  --cortitulo: #747DC2;
}



header h1 {
  text-align: center;
  font-size: 60px;
  text-shadow: 2px 2px 2px white;

}


header p {

  font-family: var(--titulo);
  text-align: center;
  font-size: 30px;

}



header {

  min-width: 300px;
  max-width: 1350px;
  height: 50%;
  background-image: linear-gradient(to top, #D2A869, white, white, #FDDFAA);
  margin-bottom: 13px;
  max-height: 200px;

}

body {

  margin-bottom: 40px;
  background-image: linear-gradient(to top, #FDDFAA, white, rgb(237, 200, 206), #FDDFAA, #D2A869);
  background-size: 100px 100px;


}

main {
  background-color: #EEC88D;
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 3px 3px 3px blue;
  text-align: justify;

}



#lgg {
  font-size: 40px;

}


.legend1 {
  text-align: center;

}


a {
  margin-left: 125px;
}



.bt {
  font-size: 20px;
  color: white;

}


nav {
  background-color: #3C3C42;
  margin: auto;
  width: 100%;
  min-width: 350px;
  max-width: 970px;
  max-height: 250px;

}

article {
  text-align: justify;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 45px;


}

.p1 {
  text-indent: 30px;
}

article h1 {
  background-image: linear-gradient(to top, rgb(20, 10, 81), white);
  text-align: center;

}


img {
  width: 160px;
  height: 95px;
}


.div1 {
  display: inline-block;
  margin: 30px;

}

main .div2 iframe {

  display: block;
  margin: auto;
  min-width: 300px;
  max-width: 1000px;

}

main .div3 video {

  display: block;
  margin: auto;
  max-width: 1000px;
  min-width: 300px;





}





ol {

  list-style-type: '\2714';
  background-image: linear-gradient(to top, #AFDB7A, white);
  padding: 20px 20px 20px 20px;
  text-indent: 20px;

}


.list {
  margin-top: 40px;
  border-radius: 25px 25px 0px 0px;
  background-color: #065502;
  color: white;
  text-align: center;
  height: 100%;
  max-height: 180px;
  min-height: 70px;
  font-size: 17px;
  padding-top: 15px;


}