@charset "UTF-8";


* {

  margin: 0px;
  padding: 0px;
}

header {
  margin: auto;
  border: 2px solid green;
  margin-bottom: 20px;
  text-align: center;
  background-color: black;
  color: white;

}



div {
  width: 100%;
  height: auto;

}


#v01 {
  background-color: white;
  width: 85%;
  background-image: url("imagens gif/folhas.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  margin: auto;

}


table {
  border-collapse: collapse;
  margin: auto;
  min-width: 300px;
  width: 100%;
}

.agosto {
  width: 20%;

}


td {
  border: 1px solid blue;
  text-align: center;
  vertical-align: middle;
  font-size: 1em;
  padding: 5px;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
}


th {

  border: 1px solid black;
  width: 100px;
  height: 50px;
  background-color: blue;
}


tbody>tr:nth-child(2n) {
  background-color: gray;

}

thead>tr>th {
  position: sticky;
  top: -1px
}


#cor_saida {
  color: red;


}


caption {
  font-size: 2em;
  font-weight: bold;



}

h1 {
  font-size: 3em;


}