@charset "UTF-8";


* {

  margin: 0px;
  padding: 0px;

}

div {
  display: inline-block;
  background-color: blue;
  border: 1px solid green;
  width: 45vw;
  height: 600px;
  text-align: center;
  font-size: 30px;
  position: absolute;

}