@charset "UTF-8";


* {

  margin: 0px;
  padding: 0px;

}


header {
  margin: auto;
  border: 2px solid green;
  margin-bottom: 20px;
  text-align: center;
  background-color: black;
  color: white;
  box-shadow: 0px 3px 10px #464646;
  padding: 10px;
  height: 300px;

}



div {
  width: 100%;
  height: auto;

}


#v01 {
  background-color: white;
  width: 85%;
  background-image: url("gifs imagens/folha.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  margin: auto;

}


table {
  border-collapse: collapse;
  margin: auto;
  min-width: 300px;
  width: 100%;
}

.agosto {
  width: 20%;

}


td {
  border: 1px solid blue;
  text-align: center;
  vertical-align: middle;
  font-size: 1em;
  padding: 5px;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
}


th {

  border: 1px solid black;
  width: 100px;
  height: 50px;
  background-color: blue;
}


tbody>tr:nth-child(2n) {
  background-color: gray;

}

#cor_saida {
  color: red;


}


caption {
  font-size: 2em;
  font-weight: bold;
  margin-top: 35px;



}

h1 {
  font-size: 3em;


}

footer {
  background-color: black;
  color: white;
  text-align: center;


}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;

}

nav .logo {
  color: white;
  font-size: 35px;
  font-weight: 600;

}


nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: auto;


}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
  background: orange;
  padding: 2px;
}

nav .menu-btn {
  color: white;
  cursor: pointer;
  display: none;


}

@media (max-width: 800px) {
  nav .menu-btn {
    display: block;
  }

}



nav .menu-btn button {
  border: none;
  background-color: white;
  padding: 10px 15px;
  border-radius: 5px;
  width: auto;
  position: fixed;
  left: 10%;


}


nav ul {
  position: fixed;
  top: 240px;
  margin: auto;
  left: 10%;
  padding: 2em;

}